/* Style for the slider track */
.slider {
    height: 8px;
    background: #333; /* Dark background for the slider */
    border-radius: 5px;
    outline: none;
    width: 100%;
  }
  
  /* Style for the active track (highlighted portion) */
  .track {
    background: #ffffff; /* Light blue or teal color for a softer look */
    height: 100%;
    border-radius: 5px;
  }
  
  /* Style for the slider thumb */
  .thumb {
    border: 6px solid #9000ff; /* Light blue border */
    border-radius: 40%; /* Circular thumb */
    cursor: grab;
    padding-bottom: -10px;
    outline: none;
    background: #fff; /* White background to contrast with dark background */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* Subtle shadow for a 3D effect */
  }
  
  /* Hide the veepn-breach-alert div */
  #veepn-breach-alert {
    display: none !important;
  }
  